version: "3.8"

services:
  backend:
    build: ./backend
    container_name: streaming-backend
    env_file:
      - ./backend/.env
    ports:
      - "3000:3000"
      - "40000-40100:40000-40100/udp" 
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    restart: unless-stopped
    networks:
      - streaming-network
    environment:
      - DB_HOST=db
      - DB_PORT=3306
      - REDIS_HOST=redis
      - REDIS_PORT=6379

  frontend:
    build: ./frontend
    container_name: streaming-frontend
    ports:
      - "3001:3000"
    environment:
      NEXT_PUBLIC_BACKEND_URL: http://localhost:3000
    depends_on:
      - backend
    restart: unless-stopped
    networks:
      - streaming-network

  redis:
    image: redis:7-alpine
    container_name: streaming-redis
    ports:
      - "6379:6379"
    restart: unless-stopped
    networks:
      - streaming-network

  db:
    image: mysql:8.0.35
    container_name: streaming-db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: streamplatform
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_ROOT_HOST: '%'
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - streaming-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-pomar"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    command: --default-authentication-plugin=mysql_native_password


networks:
  streaming-network:
    driver: bridge

    
volumes:
  mysql_data: